.box{
    width: 200px;
    height: 200px;
    background-color: orange;
    margin-inline: auto;
    border: 1px solid black;
    transition: background-color,box-shadow, transform, 300ms ease-in-out 100ms;
}
.box:hover{
    background-color: orangered;
    transform: rotate(45deg) scale(1.2);
    box-shadow: 0px 0px 40px 1px;
    
}