* {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0rem 3rem 5rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  margin-bottom: 3rem;
  background-color: rgb(195, 202, 201);
}
.navbar > .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 18px 0px;
  margin-right: 30px;
}
.navbar a {
  text-decoration: none;
  transition: text-decoration 200ms ease-in-out;
}
.navbar a:visited {
  color: black;
}
.navbar a:hover {
  text-decoration: 2px underline solid rgb(191, 94, 236);
  text-underline-offset: 5px;
}
.navbar > .name {
  margin-left: 20px;
  width: 50px;
}
.navbar > .name img {
  width: 100%;
  object-fit: cover;
}

h1 {
  font-size: 5rem;
}
h1::after {
  content: "";
  display: block;
  width: 60%;
  height: 4px;
  border-radius: 5px;
  background-color: rgb(204, 76, 230);
}

h2 {
  margin: 1rem 0;
}

p {
  color: rgb(78, 78, 77);
  text-align: justify;
  margin: 1rem 0;
}

.div-3 {
  padding: 10px;
  background-color: rgb(226, 226, 226);
  margin: 2rem 0;
}

.box_1 {
  width: 100%;
  min-height: 300px;
  border: 2px solid rgb(182, 182, 182);
  overflow: hidden;
  background: url(./media//mar-bustos-HsEz1XZ1TO8-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.box_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin: 2rem 0;
}
.box_2 > div {
  max-width: 300px;
  min-height: 300px;
  padding: 1rem 2rem;
  flex: 1;
  margin: 0 10px;
  border-radius: 10px;
  text-align: center;
  transition: transform 200ms, box-shadow 200ms ease-in-out;
  box-shadow: 2px 2px 5px 1px;
}
.box_2 > div h4 {
  font-size: 1.3rem;
}
.box_2 > div:hover {
  transform: scale(1.025);
  box-shadow: 4px 4px 10px 2px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  padding: 0 40px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 0px 33px -8px;
  width: 500px;
  min-height: 350px;
  border: 2px solid #494848;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(30deg, rgb(240, 135, 135), rgb(103, 103, 214));
  gap: 1.5rem;
}
.form input {
  outline: transparent;
  border-radius: 5px;
  background: white;
  border: none;
  height: 30px;
  width: 10rem;
  padding: 0 10px;
}
.form input:focus {
  outline: 3px solid rgb(144, 48, 235);
}
.form label {
  font-size: 1.5rem;
  font-weight: 600;
}
.form button {
  font-size: 0.9rem;
  background: linear-gradient(30deg, rgb(190, 184, 133), rgb(152, 118, 180));
  outline: none;
  border: 2px solid rgb(91, 67, 107);
  border-radius: 10px;
  padding: 8px 18px;
  transition: transform 50ms, box-shadow 50ms ease-out;
}
.form button:hover {
  cursor: pointer;
  transform: translate(0px, -1px);
  box-shadow: 0px 1px 5px 0.5px;
}

.palette {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50px;
}
.palette > div {
  flex-grow: 1;
  height: 10px;
}

.palette > div:nth-of-type(1) {
  background-color: #ff7474;
}

.palette > div:nth-of-type(2) {
  background-color: #ff0e0e;
}

.palette > div:nth-of-type(3) {
  background-color: #a70000;
}

.palette > div:nth-of-type(4) {
  background-color: #410000;
}

.palette > div:nth-of-type(5) {
  background-color: black;
}

@media (width <= 680px) {
  .box_2 {
    flex-direction: column;
    gap: 2rem;
  }
  .box_2 div {
    max-width: 250px;
    min-height: 250px;
  }
  h1 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=index.css.map */
