<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lanterna</title>
    <link rel="stylesheet" href="./styles/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div class="nav_left">
          <div class="name">Lanterna</div>
          <div class="nav_links">
            <div><a href="./index.html">How it works</a></div>
            <div><a href="./index.html">Tutors</a></div>
            <div><a href="./index.html">Subjects</a></div>
            <div><a href="./index.html">Prices</a></div>
            <div><a href="./index.html">Why lanterna</a></div>
          </div>
        </div>
        <div class="nav_right">
          <div><a href="./index.html">Login</a></div>
          <div class="nav_book">
            <div><a href="./index.html">Talk with an advisor</a></div>
            <div class="book_now_btn"><a href="./index.html">Book now</a></div>
          </div>
        </div>
      </nav>
      <div class="intro">
        <div class="intro_tag">
          <h1>
            Unlock your potential with<br />online
            <span class="intro_span"
              ><strong class="intro_bold">IB</strong> &amp;
              <b class="intro_bold">IGSCE</b> tutoring.</span
            >
          </h1>
        </div>
        <div class="intro_right">
          <div><p>We are here to get the grades you need</p></div>
          <div>
            <div class="intro_right_yellow-bg">Get matched with your tutor</div>
            <div><a href="./index.html">Talk with an advisor</a></div>
          </div>
        </div>
      </div>
      <div class="hero_image">
        <img src="./media//mainImage.png" alt="hero image.png" />
      </div>
      <div class="gradient">
        <div class="score_container">
          <div class="card">
            <div class="person_icon_container">
              <img src="./media/user-outline.svg" alt="" />
            </div>
            <div class="rating">
              <p>4.8/5</p>
              <p>On Trustpilot</p>
            </div>
          </div>
          <div class="card">
            <div class="person_icon_container">
              <img src="./media/user-outline.svg" alt="" />
            </div>
            <div class="rating">
              <p>+10000</p>
              <p>students helped</p>
            </div>
          </div>
          <div class="card">
            <div class="person_icon_container">
              <img src="./media/user-outline.svg" alt="" />
            </div>
            <div class="rating">
              <p>50000</p>
              <p>hours taught</p>
            </div>
          </div>
        </div>
      </div>
      <div class="achievements">
        <div class="achievements_header">
          <p>Your success is our success.</p>
          <p>See why we are trusted <span>by +500 schools</span></p>
        </div>
        <div class="achievements_grid"></div>
      </div>
    </div>
  </body>
</html>
