<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lanterna</title>
    <link rel="stylesheet" href="./styles/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav_left">
        <div class="name">Lanterna</div>
        <div class="nav_links">
          <div><a href="./index.html">How it works</a></div>
          <div><a href="./index.html">Tutors</a></div>
          <div><a href="./index.html">Subjects</a></div>
          <div><a href="./index.html">Prices</a></div>
          <div><a href="./index.html">Why lanterna</a></div>
        </div>
      </div>
      <div class="nav_right">
        <div><a href="./index.html">Login</a></div>
        <div class="nav_book">
          <div><a href="./index.html">Talk with an advisor</a></div>
          <div class="book_now_btn"><a href="./index.html">Book now</a></div>
        </div>
      </div>
    </nav>
    <div class="intro">
      <div class="intro_tag">
        <h1>
          Unlock your potential with<br />online
          <span class="intro_span"
            ><strong class="intro_bold">IB</strong> &amp;
            <b class="intro_bold">IGSCE</b> tutoring.</span
          >
        </h1>
      </div>
      <div class="intro_right">
        <div><p>We are here to get the grades you need</p></div>
        <div>
          <div class="intro_right_yellow-bg">Get matched with your tutor</div>
          <div><a href="./index.html">Talk with an advisor</a></div>
        </div>
      </div>
    </div>
    <div class="hero_image">
      <img src="./media//mainImage.png" alt="hero image.png" />
    </div>
    <div class="gradient">
        <div>4.8/5</div>
        <div>+10000</div>
        <div>50,000</div>
    </div>
  </body>
</html>
