/* Error: Undefined variable.
 *   ,
 * 5 |     @return map-get($map: $font-sizes, $key: $size)
 *   |                           ^^^^^^^^^^^
 *   '
 *   styles\_functions.scss 5:27  size()
 *   styles\main.scss 62:14       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 5 \2502      @return map-get($map: $font-sizes, $key: $size)\d\a   \2502                            ^^^^^^^^^^^\a   \2575 \a   styles\\_functions.scss 5:27  size()\a   styles\\main.scss 62:14       root stylesheet";
}
