@use "sass:map";

@use "./variables" as var;
@use "./mixins" as mixins;
@use "./functions" as functions;

$font-sizes: (
  "h1": 5rem,
  "h4": 1.3rem,
  "label": 1.5rem,
  "button": 0.9rem,
) ;


* {
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// maps

.container {
  padding: 0rem 3rem 5rem;
}

.navbar {
  @include mixins.flex-container();
  justify-content: space-between;
  position: sticky;
  top: 0;
  margin-bottom: 3rem;
  background-color: rgb(195, 202, 201);
  > .links {
    @include mixins.flex-container();
    gap: 2rem;
    padding: 18px 0px;
    margin-right: 30px;
  }
  a {
    text-decoration: none;
    transition: text-decoration 200ms ease-in-out;
    &:visited {
      color: black;
    }
    &:hover {
      text-decoration: 2px underline solid rgb(191, 94, 236);
      text-underline-offset: 5px;
    }
  }
  > .name {
    margin-left: 20px;
    width: 50px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
h1 {
  font-size: functions.size("h1");
  &::after {
    content: "";
    display: block;
    width: 60%;
    height: 4px;
    border-radius: 5px;
    background-color: rgb(204, 76, 230);
  }
}
h2 {
  margin: 1rem 0;
}
p {
  color: var.$para-color;
  text-align: justify;
  margin: 1rem 0;
}

.div-3 {
  padding: 10px;
  background-color: var.$backgroundColor;
  margin: 2rem 0;
}
.box_1 {
  @include mixins.box(100%, 300px);
  overflow: hidden;
  background: url(../media/mar-bustos-HsEz1XZ1TO8-unsplash.jpg);
  background-position: center;
  background-size: cover;
}
.box_2 {
  @include mixins.flex-container();
  justify-content: space-around;
  margin: 2rem 0;

  > div {
    max-width: 300px;
    min-height: 300px;
    padding: 1rem 2rem;
    flex: 1;
    margin: 0 10px;
    border-radius: 10px;
    text-align: center;
    transition: transform 200ms, box-shadow 200ms ease-in-out;
    h4 {
      font-size: map-get($map: $font-sizes, $key: "h4");
    }
    @include mixins.box-shadow(2px, 2px, 5px, 1px);
    &:hover {
      transform: scale(1.025);
      @include mixins.box-shadow(4px, 4px, 10px, 2px);
    }
  }
}
.wrapper {
  @include mixins.flex-container();
  margin-top: 5rem;
  padding: 0 40px;
}
.form {
  @include mixins.flex-container();
  @include mixins.box-shadow(2px, 0px, 33px, -8px, rgba(0, 0, 0, 0.75));
  @include mixins.box(500px, 350px, #494848);
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(30deg, rgb(240, 135, 135), rgb(103, 103, 214));
  gap: 1.5rem;
  input {
    outline: transparent;
    border-radius: 5px;
    background: white;
    border: none;
    height: 30px;
    width: 10rem;
    padding: 0 10px;
    &:focus {
      outline: 3px solid rgb(144, 48, 235);
    }
  }
  label {
    font-size: map-get($map: $font-sizes, $key: "label");
    font-weight: 600;
  }
  button {
    font-size: 0.9rem;
    background: var.$form_submit_btn_color;
    outline: none;
    border: 2px solid rgb(91, 67, 107);
    border-radius: 10px;
    padding: 8px 18px;
    transition: transform 50ms, box-shadow 50ms ease-out;
    &:hover {
      cursor: pointer;
      transform: translate(0px, -1px);
      @include mixins.box-shadow(0px, 1px, 5px, 0.5px);
    }
  }
}

.palette {
  @include mixins.flex-container();
  overflow: hidden;
  border-radius: 50px;
  > div {
    flex-grow: 1;
    height: 10px;
  }
}
@for $i from 1 through 5 {
  .palette > div:nth-of-type(#{$i}) {
    background-color: darken(var.$base-color, $i * 20%);
  }
}

@media (width<=680px) {
  .box_2 {
    flex-direction: column;
    gap: 2rem;
    div {
      max-width: 250px;
      min-height: 250px;
    }
  }
  h1 {
    font-size: 2rem;
  }
}
