.float {
  width: 150px;
  height: 200px;
  float: right;
  margin: 10px;
  text-align: center;
  background-color: aquamarine;
}
.para1 {
  background-color: burlywood;
  text-align: justify;
}

.para2 {
  /* clear: right; */
  text-align: justify;
}
.container {
  padding: 10px;
  background-color: antiquewhite;
  /* display: flow-root; */
}
